.bodi{
    background-color: grey;
    background: url("http://media1.giphy.com/media/hbgJDY4YvJp2o/200.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    	

}
html{
    cursor: url('http://www.rw-designer.com/cursor-view/31699.png'), default;
}
.projects_pictur{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    width: 392px;
    height: 180px;
}

.boditech{
   
    background: url("http://media1.giphy.com/media/ys25zLolNge9G/200.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bodiproject{
    background-color: grey;
    background: url("http://p1.pichost.me/i/41/1640904.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.AppAcademy{
    color: black;   
    text-decoration: activeborder;
}

.link1, .link2, .link3{
    cursor: pointer;
    transition: padding-left 250ms ease-out;
}

li{
    margin-right: 120px;
    margin-left: 120px;
}
.perk{
    z-index: 1;
}

.gun{
    z-index: 2;
    height: 25px;
    width: auto;
    
}

.zomb{
    height: 200px;
    width: auto;
}

.car{
    width: 550px;
    height: 250px;
    margin: 0 auto;
}

.colorcar{
    background-color: gray;
}

.navigate{
    background-color: black;
    background: url("http://www.globemotorsports.com/Portals/49/Skins/master/img/menuDivide.png") top right no-repeat;
    height: 40px;
    padding: 0px;
    margin: 0px;
        
}

.navigate1{
   background-color: black;
   height: 40px;
}